* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;

}
body {
  //font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  font: 14px 'Gloria Hallelujah', cursive;
  color: #444;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100%;
  height: 100%;
  background-color: #eee;
}

.in-dev {
  padding: 1rem;
  background-color: #ddd;
  color: $dark-purple;
  font-weight: bold;
  text-align: center;
}

.site-container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
}

.main-container {
  color: $purple;

  @media only screen {
    width: calc(100% - 221px);
    margin-left: 221px;
    padding-left: 0;
  }
  background-color: #fff;

  .hero-header {
    background: #f5f5f5 url('/assets/img/donkheadsubtle.png') no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    height: 350px;
    text-align: center;
    padding: 3rem;

    @media (max-width:480px) {
      height: auto;
    }
  }

  h1 {
    font-size: 5rem;
    margin-top: 0;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.1);
  }

  .subtitle {
    font-size: 3rem;
    color: #222;
    font-weight: bold;
  }

  .img-caption {
    font-weight: bold;

    & + .text-muted {
      font-size: 1.25rem;
    }
  }

  .charity-banner {
    padding: 3rem;
    background: #FFFF88 !important;
    border: 2px solid $purple;
    text-align: center;
    color: #000 !important;
  }

  .content {
    padding: 0.67em 3.67em 12rem 3.67em;
    font-size: 2rem;



      .panel {
        background-color: $purple;
        color: #fff;
        margin: 2.6rem 0;
        padding: 1.3rem;
        box-shadow: none;
        border-radius: 0;

        &.inv {
          background-color: #fff;
          color: $purple;

        }

      }

      &.book-collection .panel {
          &.inv:not(:last-child) {
            border-bottom: 1px solid #eee;
          }

      }

      &.who-who {

        padding: 0.1rem !important;

          img {
            max-width: 100%;
          }

      }
  }

  .img-container {
    text-align: center;
    padding: 3rem;

    img {
      max-width: 100%;
    }

    &.trio {
      img {
        max-width: 48.5%;

        @media (max-width:1024px) {
          max-width: 100%;
        }
      }
    }
  }


  @media only screen and (max-width:765px) {
    width: 100%;
    float: none;
    margin-left: 0;
  }

  .mag-advert-container {

    @media (max-width:480px) {
      padding: 0rem;
      padding-top: 1rem;
      margin-bottom: 2rem;
    }

    .mag-advert {

      color: #111;
      height:200px;
      font-size: 1.4rem;
      background: #D90C99;
      font-weight: 800;
      text-align: center;

      @media (min-width:480px) {
        padding-top: 65px;
        transform: rotate(15deg);
        box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
        position: relative;
        top: 15px;
        border-radius: 50%;
        float: right;
        width: 200px;
      }

      @media (max-width:992px) {
        float: none;
        margin: 0 auto;
        margin-bottom: 2rem;
        transform: rotate(0deg);
      }

      @media (max-width:480px) {
        border-radius: 0;
        float: none;
        width: 100%;
        position: static;
        height: auto;
        padding: 1rem;
      }
    }
  }


}
