$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$purple: #752B9D;
$dark-purple: darken($purple, 10%);

$blue: #385EEB;
$dark-blue: darken($blue, 10%);

$sidebar-width: 220px;
