{{> html-header title='HCF - Donkey Story Writer' }} {{> nav-panel books='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>Book Collection</h1>
    <div class="subtitle">
      Children Stories - 2016
    </div>

      {{> mag-advert}}
  </div>



  <div class="content book-collection">
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2016/1.jpg" alt="Dune Donks #1">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Dune Donks</li>
              <li>Dumpy Donks</li>
              <li>Discovering Donks At Illawalla</li>
              <li>Donks And Damsons At Stanah</li>
              <li>Disgusted Donks</li>
              <li>Determined Donks</li>
              <li>Disgruntled Donks</li>
              <li>Dotty Donks</li>
              <li>Dreamy Donks</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2016/2.jpg" alt="Donks Make A Din! #2">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Dusty Donks.</li>
              <li>Dynamic Donks.</li>
              <li>Donks Driving.</li>
              <li>Daft Donks.</li>
              <li>Dippy Donks.</li>
              <li>Dim Donks.</li>
              <li>Drifting Donks.</li>
              <li>Disappearing Donks.</li>
              <li>Donks Make A Din!</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2016/3.jpg" alt="Dithering Donks! #3">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Do Damage.</li>
              <li>Dirty Donk Disasters.</li>
              <li>Dashing Donks.</li>
              <li>Donks, Daisies, Dandelions And Delphiniums.</li>
              <li>Digging Donks.</li>
              <li>Donks And The Dovecotes.</li>
              <li>Donks Talk The Hind Leg Off A Donkey.</li>
              <li>Donks Discoveries.</li>
              <li>Dithering Donks.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2016/4.jpg" alt="Donks At Dusk #4">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks And The Dog(s).</li>
              <li>Donks And The Dentist.</li>
              <li>Dancing Donks.</li>
              <li>Dedicated Donks.</li>
              <li>A Day Out Visiting Donks. </li>
              <li>Donks Delivery.</li>
              <li>Donks At Dusk.</li>
              <li>Dazzling Donks.</li>
              <li>Dry Donks. </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2016/5.jpg" alt="Donks Ding Dong Do's #5">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Drawing Donks.</li>
              <li>Donks And The Daddy Long Legs And The Dung Beetles.</li>
              <li>Donks Distort – See Double.</li>
              <li>Donks Ding Dong Do’s.</li>
              <li>Donks Drop In To A Dilapidated Spud Farm.</li>
              <li>Distracted Donks.</li>
              <li>Donks Dock. </li>
              <li>Donks Drop Into A Dilapidated Turkey Farm.</li>
              <li>Donks Do Well At Displays.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2016/6.jpg" alt="Donks Donks In A Diz, Wiz, Tiz! #6">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Diner/Dining.</li>
              <li>Donks Dialogue.</li>
              <li>Donks Dislikes.</li>
              <li>Dodgy, Devious Donks.</li>
              <li>Dunking Donks.</li>
              <li>Donks And The Dam.</li>
              <li>Donks And The Drip.</li>
              <li>Donks In A Diz, Wiz, Tiz!</li>
              <li>Doubting Donks.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

  </div>

</section>

{{> html-footer }}
