{{> html-header title='HCF - Donkey Story Writer' }} {{> nav-panel books='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>Book Collection</h1>
    <div class="subtitle">
      Children Stories - 2017
    </div>
    {{> mag-advert}}
  </div>



  <div class="content book-collection">
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/14.jpg" alt="Donks Diff. Biff. Whiff. Sniff. Tiff! #1">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
            <li>Donks Dust.
            </li>
            <li>Donks Dustpan And Dustbin And D.I.Y.
            </li>
            <li>Donks Drop Off Delivery Service.
            </li>
            <li>Donks Duplicate.
            </li>
            <li>Donks Do Dunster.
            </li>
            <li>Donks Diff. Biff. Whiff. Sniff. Tiff!!!!!
            </li>
            <li>Donks Displeased On The Downs.
            </li>
            <li>Donks Demonstrate And Donate.
            </li>
            <li>Donks Did.
            </li>
              <li>Plus colouring section</li>
          </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/15.jpg" alt="Donks Don't Do Drizzle #2">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks At Daybreak.
              </li><li>Donks Day By Day.
              </li><li>Dull Donks.
              </li><li>Donks Dawn.
              </li><li>Donks Don't Do Drizzle.
              </li><li>Donks Do Damtherm.
              </li><li>Dismissive Donks.
              </li><li>Donks In The Dark.
              </li><li>Donks Develop.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/16.jpg" alt="Dead Ends 4 The Donks #3">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Do Dinmore.
              </li><li>Donks Dish Out.
              </li><li>Dead Ends 4 The Donks.
              </li><li>Donks Debug.
              </li><li>Donks Do Drains.
              </li><li>Donks Doodally.
              </li><li>Donks Day's Off??
              </li><li>Donks Diagonal.
              </li><li>Donks Do Dorstone.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/17.jpg" alt="Donks And The Deckchair #4">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Definite Donks.
              </li><li>Donks Go Dutch.
              </li><li>Donks Are Daytrippers.
              </li><li>Donks Dread.
              </li><li>Donks And The Deckchair.
              </li><li>Donks Do Dunsop Bridge.
              </li><li>Donks Do Downham.
              </li><li>Donks Do Darwen,
              Donks Do Dunkeld.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/18.jpg" alt="18. Dreadful Donks Including Donks Dint And Dent #5">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Dawdle.
              </li><li>Donks Differ.
              </li><li>Donks Deviate.
              </li><li>Donks Dido.
              </li><li>Donks Drool.
              </li><li>Donks Diddle.
              </li><li>Donks Doubt.
              </li><li>Donks Dint And Dent.
              </li><li>Dreadful Donks.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/19.jpg" alt="Donks Don't Do Dungeons #6">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Do Directions.
              </li><li>Democratic Donks On The Downs.
              </li><li>Donks Do Devizes.
              </li><li>Dunce Donks.
              </li><li>Donks Go To Devon.
              </li><li>Donks Do Dartmoor.
              </li><li>Donks Do Dorset.
              </li><li>Donks Do Dorchester.
              </li><li>Donks Don't Do Dungeons.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/20.jpg" alt="Donks Door To Door #6">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Do Didcot.
              </li><li>Disabled Donks.
              </li><li>Donks Deluxe.
              </li><li>Donks Door To Door.
              </li><li>Donks Dive.
              </li><li>Donks Deserve.
              </li><li>Donks Derive.
              </li><li>Donks And The Duchess.
              </li><li>Distinguished Donks.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/21.jpg" alt="Donks And Dwarfs #6">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Desire.
              </li><li>Donks Are Due.
              </li><li>Donks Drop In!
              </li><li>Donks Drag.
              </li><li>Donks Drag Out.
              </li><li>Donks And The Dulse.
              </li><li>Donks And The Dwarfs.
              </li><li>Donks And The Dapple Grey.
              </li><li>Donks And Diplomacy.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/22.jpg" alt="Donks And The Drop Off Trees #6">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Do A Dampner.
              </li><li>Dipping Donks.
              </li><li>Donks Don't Dart.
              </li><li>Downhill Donks.
              </li><li>Deed Donks.
              </li><li>Donks Do Drapes.
              </li><li>Donks Delete.
              </li><li>Donks Ditch The Itch.
              </li><li>Donks And The Drop Off Trees.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/23.jpg" alt="Disused Donks Do Disused #6">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>(Part One) Includes:</h3>
            <ul>
              <li>Dreary Donks.
              </li><li>Donks Don't Destruct.
              </li><li>Donks Are Dazzled!
              </li><li>Donks Do A Dinner Dance.
              </li><li>Disused Donks Do Disused.
              </li><li>Donks Decipher.
              </li><li>Don Donk Discovers!
              </li><li>Donks Do Dervishe.
              </li><li>Donks Deploy.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/24.jpg" alt="Dixie Donks #6">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Dislodge.
              </li><li>Drudgery For The Donks.
              </li><li>Donks Drone.
              </li><li>Droopy Donks.
              </li><li>Dixie Donks.
              </li><li>Donks Do Deltiology.
              </li><li>Donks Describe.
              </li><li>Donks De-Frost!
              </li><li>Demented Donk!!!
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

  </div>

</section>

{{> html-footer }}
