{{> html-header title='HCF - Donkey Story Writer' }} {{> nav-panel books='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>Book Collection</h1>
    <div class="subtitle">
      Teen Stories - 2017
    </div>
    {{> mag-advert}}
  </div>



  <div class="content book-collection">
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/25.jpg" alt="Donks Downsize #1">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Downsize.
              </li><li>Donks Discard.
              </li><li>Donks Go The Dump.
              </li><li>Donks Destroy.
              </li><li>Dicey Donks.
              </li><li>Donks Don't Do Drastic.
              </li><li>Difficult Donks.
              </li><li>Donks Divulge.
              </li><li>Donks Discipline.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/26.jpg" alt="Donks Drop Out #2">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Dwell.
              </li><li>Donks Drudgery.
              </li><li>Disinterested Donks.
              </li><li>Donks Drop Out.
              </li><li>Donks Defy.
              </li><li>Donks Descent.
              </li><li>Donks Disagree.
              </li><li>Donks Disturb.
              </li><li>Dire Donks.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/27.jpg" alt="Donks Up And Down #3">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>A Doleful Donk.
              </li><li>Donks Detach.
              </li><li>Downhearted Donks.
              </li><li>Donks Devise.
              </li><li>Donks Do A Distance.
              </li><li>Donks Divert.
              </li><li>Donks Up And Down.
              </li><li>Donks Go To Dover.
              </li><li>A  Donk Left High And Dry.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/28.jpg" alt="Donks Don't Do Dallas #4">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Dimity Donks.
              </li><li>Donks Do Diagrams.
              </li><li>Donks With Dollars And Dimes.
              </li><li>Donks LAG and Delay.
              </li><li>Donks Don't Do K. Derby.
              </li><li>Donks Do Duvet.
              </li><li>Donks Don't Do Dallas.
              </li><li>Donks Don't Do Different Drags.
              </li><li>Donks Don't Do Downgraded.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/29.jpg" alt="Donks Depart In Dribs And Drabs #5">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Decide.
              </li><li>Donks Diary.
              </li><li>Donks Depart In Dribs And Drabs.
              </li><li>Donks Do Derbyshire.
              </li><li>Donks Do A Dairy.
              </li><li>Donks Dribble.
              </li><li>Dinky Donks.
              </li><li>Donks Do Desmond Davidson.
              </li><li>Donks Do Dimensions
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/30.jpg" alt="Donks How Do U Do #6">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks That Will Be The Day?
              </li><li>Different Donks.
              </li><li>Deferential Donks.
              </li><li>Donks Delegate.
              </li><li>Donks How Do U Do?
              </li><li>Dishy Donks.
              </li><li>Dignified Donks.
              </li><li>Donks And The Diamond.
              </li><li>Donks Describe In Detail.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/31.jpg" alt="Donks Disintegrate #7">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Distressed Donks.
              </li><li>Donks Disintegrate.
              </li><li>Donks Down To Earth.
              </li><li>Dependable Donks.
              </li><li>Discerning Donks.
              </li><li>Dinkum Donks.
              </li><li>Darling Donks.
              </li><li>Donks And The Dig.
              </li><li>Droll Donks.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/32.jpg" alt="Donks De-Ice #8">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Debate Dicey Destinations.
              </li><li>Donks Downstream.
              </li><li>Donks Dredge.
              </li><li>Dank Donks.
              </li><li>Donks De-Ice.
              </li><li>Donks Dumbfounded.
              </li><li>Donks Decline.
              </li><li>Donks Dwindle.
              </li><li>Donks Duffle.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/33.jpg" alt="Donks Dropped In At The Deep End #9">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Are Dubious.
              </li><li>Donks Diploma.
              </li><li>Donks At A Distance.
              </li><li>Donks Dropped In At The Deep End.
              </li><li>Donks Don't Do Drowning.
              </li><li>Dutiful Donks.
              </li><li>Draggled Donks.
              </li><li>Donks Droop.
              </li><li>Donks Do Denmark.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/34.jpg" alt="Donks Drivel #10">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Drivel.
              </li><li>Downgrade Donks.
              </li><li>Donks In Disarray.
              </li><li>Dominant Donks.
              </li><li>Donks Disapprove.
              </li><li>Donks As Directors.
              </li><li>Drowsy Donks.
              </li><li>Dear Donks.
              </li><li>Donks And The Duke.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/35.jpg" alt="A Donk Dreams Of A Cork Fork! #11">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Devour.
              </li><li>Donks Don't Do Distasteful.
              </li><li>A Donk Dreams Of A Cork Fork!
              </li><li>Donks Don't Disgrace.
              </li><li>Donks Don't Do Demons.
              </li><li>Donks Disapprove.
              </li><li>Donks Don't Do Debts.
              </li><li>Donks Don't Do Dots.
              </li><li>Donks Dug The Rug.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/36.jpg" alt="Donks Dial A Tile #12">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Don't Drink.
              </li><li>Donks Don't Do Drastic.
              </li><li>Donks Definitely Don't Do Dressage.
              </li><li>Donks Do Dark Green Doors.
              </li><li>Donks Dial A Tile.
              </li><li>Dagmar Does The Donks.
              </li><li>Donks Don't Divide.
              </li><li>Donks Don't Duel.
              </li><li>Donks Don't delete, DELETE.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/37.jpg" alt="Donks And The Drone Including Donks And The Desk #13">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks And The Drone.
              </li><li>Donks Deliberate.
              </li><li>Donks Don't Do Dishonesty.
              </li><li>Delegating Donks.
              </li><li>Donks And The Dobbin.
              </li><li>Donks Dismount.
              </li><li>Donks And The Desk.
              </li><li>Donks Dictate.
              </li><li>Donks Discredit.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/38.jpg" alt="Donks La-Di-Dah!!! #14">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Drool, DROOL.
              </li><li>Donks Noel Design Disaster.
              </li><li>Donks Dibble.
              </li><li>Donks Do Daffodils.
              </li><li>Donks Don't Do Disease.
              </li><li>Donks Defend.
              </li><li>A Dead Pan Donk.
              </li><li>Donks La-Di-Dah!!!
              </li><li>Donks Haze Daze</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/39.jpg" alt="Donks Do A Double, Double Do!!!! #15">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>A Despondent Donk.
              </li><li>Donks Delight And Descent.
              </li><li>Donks Do's and Don't s.
              </li><li>Donks Do Up and Decorate.
              </li><li>Donks Do A Double, Double Do.
              </li><li>Donks Doeth.
              </li><li>Donks And The Documents.
              </li><li>Donks A Tad Dizzy, Wizzy!!!!
              </li><li>Donks Do Mizzy.
              </li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/children-2017/40.jpg" alt="Donks Distractions #7">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>(Part Two) Includes:</h3>
            <ul>
              <li>Donks Distractions. </li>
              <li>Donks Din Din and Donks Decant. </li>
              <li>Donks Do Desserts (Puddings)!!!! </li>
              <li>Donks Disillusioned. </li>
              <li>Donks Don't Do Dates. </li>
              <li>Donks Deal With Decay. </li>
              <li>Donks Definition.</li>
              <li>Donks Dissuade. </li>
              <li>Decorative Donks.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/41.jpg" alt="Donks Derail #16">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Didn't Do. </li>
              <li>Donks Interest. </li>
              <li>Donks Derail. </li>
              <li>Defensive Donks.</li>
              <li>Donks Do Deep Deep Double Bass. </li>
              <li>Donks Make A Din - Din!! </li>
              <li>Donks Are Distracting.<li>
              <li>Donks Defuse. </li>
              <li>Donks Do “Little Donkey!”</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2017/42.jpg" alt="Donks And The Draught #17">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Depart Deliriously. </li>
              <li>Draughty Donks. </li>
              <li>Donks Define. </li>
              <li>Donks And The Draught.</li>
              <li>Donks Are Deterred. </li>
              <li>Donks And The Dormitory. </li>
              <li>Drop Donks. </li>
              <li>Donks And The Dame.</li>
              <li>Donks Desist.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
  </div>


</section>

{{> html-footer }}
