{{> html-header title='HCF - Donkey Story Writer' }} {{> nav-panel books='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>Book Collection</h1>
    <div class="subtitle">
      Teen Stories - 2016
    </div>
      {{> mag-advert}}
  </div>



  <div class="content book-collection">
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2016/7.jpg" alt="Donk’s Disguise #7">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks On A Date.</li>
              <li>Donks With A Dilemma.</li>
              <li>Donks In Disguise.</li>
              <li>Distant Donks.</li>
              <li>Donks Go Down The Road.</li>
              <li>Donks Ding Dong.</li>
              <li>Donks And Diets.</li>
              <li>Dazed Donks.</li>
              <li>Disco Donks.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2016/8.jpg" alt="Donks Discount And Discord #8">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Yankee Doodle Dandy Donks.</li>
              <li>Donks Dilly Dally.</li>
              <li>Disobedient Donks.</li>
              <li>Donks Delusions.</li>
              <li>Disconcerted And Depressed Donks.</li>
              <li>Daring Donks.</li>
              <li>Dangerous Donks.</li>
              <li>Dressy/Designer Donks.</li>
              <li>Donks Discount And Discord.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2016/9.jpg" alt="Deflated Donks Dabble #9">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Diva And Dude Donks.</li>
              <li>Donks Dummies. </li>
              <li>Disappointed Donks.</li>
              <li>Doodling Donks.</li>
              <li>Dizzy, Wizzy, Tizzy Do’s.</li>
              <li>Donks Disorder.</li>
              <li>Donks Dialect.</li>
              <li>Dense Donks.</li>
              <li>Deflated Donks Dabble.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2016/10.jpg" alt="Dangling Donks #10">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Tie Dying.</li>
              <li>Dangling Donks.</li>
              <li>Dill And A Diligent Donk.</li>
              <li>Donks Den.</li>
              <li>Donks Destiny.</li>
              <li>Donks And Dominoes.</li>
              <li>Donks Drop Into A Derelict Castle.</li>
              <li>Donks Dimples.</li>
              <li>Donks In The Doldrums – So Do Little.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>

    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2016/11.jpg" alt="Digital Donks #11">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Digital Donks.</li>
              <li>Donks Dene.</li>
              <li>Donks Decline.</li>
              <li>Diluting Donks.</li>
              <li>Dishevelled Donks In Denim.</li>
              <li>Diverging Donks Do A Derby.</li>
              <li>Disdainful Donks.</li>
              <li>Donks Defeat The Dew.</li>
              <li>Donks ‘N’ Dykes.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2016/12.jpg" alt="Donks Zoom – Doom Dive #12">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Delighted Donks</li>
              <li>Decent Donks</li>
              <li>Donks At A Disadvantage</li>
              <li>Donks Disagree – What Donks Don’t Do!</li>
              <li>Drip Dry Donks</li>
              <li>Donks Delve</li>
              <li>Donks Zoom – Doom Dive!</li>
              <li>Donks Attend A Derby.</li>
              <li>Donks Definitely Do A Derby.</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
    <div class="panel inv">
      <div class="row book-list-container">
        <div class="col-xs-12 col-md-4">
          <div class="book-cover">
            <img src="/assets/img/teens-2016/13.jpg" alt="Donks Discuss Danube Drama #13">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="book-list">
            <h3>Includes:</h3>
            <ul>
              <li>Donks Discuss The Danube Snaps</li>
              <li>Donks Discuss Danube Island</li>
              <li>Dense Donks Discuss Danube Descent</li>
              <li>Donks Discuss Danube Hop Drench</li>
              <li>Donks Discuss Danube Discordants</li>
              <li>Donks Discuss Danube Days Out</li>
              <li>Plus colouring section</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
      </div>

    </div>
  </div>


</section>

{{> html-footer }}
