{{> html-header title='HCF - Donkey Story Writer' }}

{{> nav-panel books='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>H. Claire Fretwell</h1>
    <div class="subtitle">
      Donkey Story Writer
    </div>
  </div>

<div class="content">
  <div class="panel inv">
  <p>
    Coming soon...
  </p>

  </div>

</div>

</section>

{{> html-footer }}
