{{> html-header title='HCF - Donkey Story Writer' }}

{{> nav-panel contact='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>Contact</h1>
    <div class="subtitle">
      Get in touch
    </div>
  </div>

<div class="content">
  <div class="panel inv">
    <h3>Via Email</h3>
  <p>
    Email us at:
    <script type="text/javascript">
      document.write("<a href='mailto:carnforth20donks"+"@"+"hotmail.com'>carnforth20donks" +
      "@" + "hotmail.com</a>");
    </script>
    or
    <script type="text/javascript">
      document.write("<a href='mailto:clairefretwelldonkeystorywriter"+"@"+"outlook.com'>clairefretwelldonkeystorywriter" +
      "@" + "outlook.com</a>");
    </script>
  </p>

  <h3>Via Phone</h3>
  <p>
    Contact number for Nicole (Part-Time Secretary) is 07877 234833. Available most Thursdays and Fridays
    between 10am-8pm.
  </p>

  </div>

</div>

</section>

{{> html-footer }}
