{{> html-header title='HCF - Donkey Story Writer' }}

{{> nav-panel home='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>H. Claire Fretwell</h1>
    <div class="subtitle">
      Donkey Story Writer
    </div>


  </div>

<div class="content">
  <div class="panel inv">
  <p>
    Claire Fretwell dubbed “Allergy Wonder Woman”
    – Glasgow Evening Times (1992) has finally begun to do what she always
    wanted to do with her life and write more!!!
  </p>
  <p class="img-container">
    <img src="assets/img/DonksNDykes.jpg" alt="">
  </p>
  </div>

  <div class="panel">
    <p>Her second allergy cookbook ‘Cracking Craves’, 2015 aimed at youngsters,
      teens and grown up children contains eleven cautionary tales about Donkeys
      and parallels to how they can become sensitive to substances, become
      stressed and jeopardise their health.</p>

      <p>This pioneering book covers Cracking Corn as an intolerance.</p>
  </div>

  <div class="panel inv">
    <p>
      Seven years ago in, 2009, Claire remarked to her husband, Bryan, a retired Shire Horse farm manager, in their orchard in North Herefordshire,
      <strong>“What I really want to do is write MORE and Donkeys would be a start!!”</strong>
    </p>

    <p class="img-container trio">
      <img src="assets/img/DonksDining.jpg" alt="">
      <img src="assets/img/Donks and the Dam (part 2).jpg" alt="">
      <img src="assets/img/DonksReflection.jpg" alt="">
    </p>
  </div>

  <div class="panel">
    <p>Then, there were three Donkeys as family pets, now Claire and her husband have six Donkeys.

    Here are some POSITIVE reactions from readers of ‘Cracking Craves’ about the Donks tales:
    </p>
  </div>

  <div class="panel inv">
    <p>
      <strong>“The Donks involvement is brilliant.”</strong> - A Lancashire reader.
    </p>
  </div>

  <div class="panel inv">
    <p>
      <strong>“The Donks are a neat, clever perspective – great tales.”</strong> - Texan Teacher.
    </p>
  </div>

  <div class="panel">
    <p>She was inspired by her husband Bryan, to focus on conversational Donkey stories in VOLUME!!!</p>
    <p><em>"Writing about Donkeys has been a <u><strong>blast</strong></u></em>!!!!!! - Simply, the BEST experience of my life."</p>
    <p>
      I hope you ENJOY them as much as I have enjoyed writing them –
      I have attempted to write in a dynamic manner, making the Donks modern,
      relevant and FUN – let me know your favourite story and why?!
    </p>
    <p>I hope you laugh and laugh!</p>
    <p>Claire x</p>
  </div>

  <div class="panel inv charity-banner">
    <div class="charity-banner-content">
      <p>As a result of  article 'Decimation of Donkeys', Sunday Mail, 13.Nov.2016 a future charity will be set up to help raise awareness and assist Donkeys in plight in China and elsewhere.</p>
    </div>
  </div>

  <div class="panel inv text-center">
    <p class="img-container">
      <img src="assets/img/Herbie and Eccles cakes.jpg" alt="Herbie and Eccles cakes.jpg">
    </p>
    <p class="img-caption">
      Greedy Herbie with his favourite Eccles Cakes - wondering if he will grow as big as a shire horse!!!!!
    </p>
    <p class="text-muted">
      - Cartoon by Ellie Bannister.
    </p>
  </div>


</div>

</section>

{{> html-footer }}
