{{> html-header title='HCF - Donkey Story Writer' }}

{{> nav-panel merch='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>Merchendise</h1>
    <div class="subtitle">
      Coming soon!
    </div>
  </div>

<div class="content">
  <div class="panel inv">
  <p>
    More information will be available soon!
  </p>

  </div>

</div>

</section>

{{> html-footer }}
