{{> html-header title='HCF - Donkey Story Writer' }}

{{> nav-panel whowho='active' }}

<section class="main-container">

  <div class="hero-header">
    <h1>Who's Who</h1>
    <div class="subtitle">
      Get to know the Donks!
    </div>
  </div>

<div class="content who-who">
  <img src="assets/img/WhoWho.jpg" alt="Who's Who">
</div>

</section>

{{> html-footer }}
